/** {
	color:gray;
}*/
/*reset browsers default style*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*font size 14px*/
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7455357143) 50%, rgba(255, 255, 255, 0.0396533613) 100%, #00d4ff 100%), url("https://images.wallpaperscraft.com/image/night_city_bw_full_moon_128768_2560x1024.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transition: 0.5s;
}

main {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  align-items: center;
  width: 75%;
}

.overview {
  padding: 3rem;
}

h1.fullname {
  font-size: 300%;
  font-weight: 300;
  letter-spacing: 0px;
  margin-bottom: 1rem;
}

small.job-title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  text-shadow: 2px;
}

p.description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.75;
  letter-spacing: 1px;
}

section.projects h2 {
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

section.projects a {
  margin-right: 30px;
}

section.projects a img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 25px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

section.projects a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

section {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

figure.image-container img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 10px;
}

figure.image-container img {
  padding: 0rem;
}

.trans {
  animation: flipInY;
  animation-duration: 0.5s;
}

.transout {
  animation: flipOutY;
  animation-duration: 0.5s;
}

section a.contact-btn {
  font-weight: 300px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 15px black;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  color: white;
  opacity: 1;
}

section.social-media a {
  color: #efefef;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  opacity: 0.75;
  text-shadow: 1px 1px 50px black;
}

section.social-media a:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .container {
    padding-top: 50px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-top: 200px;
  }
}
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
